@import '../../App.scss';
.home{
  background-image: url('../../../public/banner.png');
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  height: 1000px;
  display: flex;
  .home-texts{
    width: 100%;
    // gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile{
      padding: 20px;
    }
    .home-text{
      display: flex;
      flex-direction: column;
    }
    .home-text1{
      font-size: 28px;
      letter-spacing: 2px;
      line-height: 66px;
      color: #ffffff;
      font-weight: 500;
      font-family: "Montserrat"
    }
    .home-text2{
      font-size: 64px;
      line-height: 96px;
      color: #e8445f;
      font-weight: 700;
      font-family: "Montserrat";
    }
    .home-text3{
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 24px;
      color: #ffffff;
      font-weight: 400;
      font-family: "Montserrat";
    }
    .home-inputs{
      display: flex;
      gap: 30px;
      margin-top: 20px;
      @include mobile{
        flex-direction: column;
      }
      input{
        width: 350px;
        height: 50px;
        border-radius: 7px;
        padding-left: 20px;
        outline: none;
        border: none;
      }
      button{
        width: 150px;
        height: 50px;
        border-radius: 7px;
        background-color: #e8445f;
        color: white;
      }
    }
  }
  .home-phone{
    width: 100%;
    position: relative;
    img{
      position: absolute;
      top: 300px;
      left:200px
    };
    @include tablet{
      display: none;
    }
    @include mobile{
      display: none;
    }
  }
}