@import "../../App.scss";
.navigationbar{
  background-color: transparent;
  font-family: "Montserrat";
  .links{
    justify-content: center;
    align-items: center;
    .link{
      margin-left: 20px;
      font-weight: 600;
    }
    .navbtn{
      width: 150px ;
      height: 50px;
      color: white;
      background-color: #eb5971 !important;
      border: none !important;
      
    }
  }
  .logo{
    margin-right: 300px !important;
    img{
      margin-bottom: 10px;
    }
    span{
      margin-left: 10px;
      font-weight: 600;
      font-size: 30px;
      color: #15293b;
    }
    @include mobile{
      margin-right: 0px !important;
    }
  }
}